.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

h2 {
  padding-left: 40px;
}

* {
  user-select: none;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
}

.pagination-buttons button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.pagination-buttons button:hover {
  background-color: #444;
}

.pagination-buttons button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

@media screen and (max-width: 541px) {
  h2 {
    text-align: center;
    padding: 0;
  }
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 35px;
  }
}

@media screen and (max-width: 431px) {
  h2 {
    text-align: center;
    padding: 0;
  }
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 35px;
  }
}

@media screen and (max-width: 415px) {
  h2 {
    text-align: center;
    padding: 0;
  }
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 35px;
  }
}
@media screen and (max-width: 376px) {
  h2 {
    text-align: center;
    padding: 0;
  }
}
