.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  /* position: relative; */
  /* border: 1px solid #000; */
}
.search-bar input[type="text"] {
  /* top: 0;
  left: 0; */
  width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #d9d9d9;
  color: black;
  border-radius: 4px;
  font-size: 16px;
  /* position: absolute; */
  border-radius: 20px;
  text-align: center;
}

.search-error {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
  text-align: center;
}

.search-bar input[type="text"]:focus {
  outline: none;
}

@media screen and (max-width: 913px) {
  .search-bar input[type="text"] {
    width: 380px;
  }
}
@media screen and (max-width: 540px) {
  .search-bar input[type="text"] {
    width: 320px;
  }
}

@media screen and (max-width: 510px) {
  .search-bar input[type="text"] {
    width: 400px;
  }
}

@media screen and (max-width: 431px) {
  .search-bar input[type="text"] {
    width: 220px;
  }
}

@media screen and (max-width: 414px) {
  .search-bar input[type="text"] {
    width: 190px;
  }
}

@media screen and (max-width: 376px) {
  .search-bar input[type="text"] {
    width: 160px;
  }
}
