* {
  margin: 0 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: 'Inter', sans-serif !important;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

#root {
  max-width: 1920px;
  margin: 0 0 !important;
  padding: 0 !important;
  text-align: center;
}
